@model SS14.Admin.Pages.Tables.BansTableModel

@{
    var b = Model.PaginationState;
    if (b == true)
    {
        <partial name="Tables/Pagination" for="Pagination"/>
    }
}
<table class="table table-striped mt-3">
    <thead>
    <tr>
        <th style="min-width: 210px">
            <partial name="Tables/SortTabHeaderCore" model="@(new SortTabHeaderModel(Model!.SortState, "name", "Name"))"/>
            /
            <partial name="Tables/SortTabHeaderCore" model="@(new SortTabHeaderModel(Model.SortState, "uid", "User ID"))"/>
            /
            <partial name="Tables/SortTabHeaderCore" model="@(new SortTabHeaderModel(Model.SortState, "ip", "IP"))"/>
            /
            HWID
        </th>
        <th>Reason</th>
        <th style="min-width: 210px">
            <partial name="Tables/SortTabHeaderCore" model="@(new SortTabHeaderModel(Model.SortState, "time", "Ban time"))"/>
        </th>
        <th style="min-width: 210px">Expires</th>
        <th style="min-width: 140px">
            <partial name="Tables/SortTabHeaderCore" model="@(new SortTabHeaderModel(Model.SortState, "admin", "Banning admin"))"/>
        </th>
        <th title="How many times this ban was 'hit' by somebody trying to connect.">
            <partial name="Tables/SortTabHeaderCore" model="@(new SortTabHeaderModel(Model.SortState, "hits", "Ban hits"))"/>
        </th>
        @*<th title="If the ban was manually unbanned then the unban time is sorted by">
            <partial name="Tables/SortTabHeaderCore" model="@(new SortTabHeaderModel(Model.SortState, "expire_time", "Expiration time"))"/>
        </th>*@
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var ban in Model.Pagination.List.PaginatedItems)
    {
        var className = ban.Id == Model.HighlightBan ? "table-success" : "";
        <tr class="@className">
            <td>
                @if (ban.Player != null)
                {
                    <a asp-page="/Players/Info" asp-route-userId="@ban.Player.UserId">
                        <strong>@ban.Player.LastSeenUserName</strong>
                    </a>
                    <br/>
                }
                @if (User.IsInRole("ADMIN"))
                {
                    if (ban.Address != null)
                    {
                        <small>
                            <strong>IP:</strong> <span class="font-monospace">@ban.Address</span>
                        </small>
                        <br/>
                    }
                    if (ban.Hwid != null)
                    {
                        <small>
                            <strong>HWID:</strong> <span class="font-monospace">@ban.Hwid</span>
                        </small>
                        <br/>
                    }
                }
                @if (ban.UserId != null)
                {
                    <small>
                        <strong>GUID:</strong> <span class="font-monospace">@ban.UserId</span>
                    </small>
                }
            </td>
            <td>@ban.Reason</td>
            <td>@ban.BanTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
            <td>
                @(ban.Expires?.ToString("yyyy-MM-dd HH:mm:ss") ?? "PERMANENT")
                @if (ban.Unbanned is { } unbanned)
                {
                    var (time, admin) = unbanned;
                    <br>
                    <text><strong>Unbanned:</strong> @time.ToString("yyyy-MM-dd HH:mm:ss") by @admin</text>
                }
                else if (ban.Expires < DateTime.Now)
                {
                    <br>
                    <strong>Expired</strong>
                }
            </td>
            <td>@ban.Admin</td>
            <td>
                @if (ban.hitCount != 0)
                {
                    var plural = ban.hitCount > 1;
                    <a asp-page="/Bans/Hits" class="btn btn-secondary" asp-route-ban="@ban.Id">@ban.hitCount @(plural ? "hits" : "hit")</a>
                }
                else
                {
                    <a href="#" class="btn btn-secondary disabled">0 hits</a>
                }
            </td>
            <td>
                @if (ban.Active && User.IsInRole("BAN"))
                {
                    <form id="unban-form-@ban.Id" asp-page="/Bans/Index" asp-page-handler="Unban">
                        <input type="hidden" name="Id" value="@ban.Id">
                        <button type="button" class="btn btn-secondary" onclick="showConfirmation('@ban.Id')">Unban</button>
                        <div class="confirmation-button" id="confirmation-button-@ban.Id" style="display: none;">
                            <button type="button" class="btn btn-danger" onclick="unbanConfirmed('@ban.Id')">Are you sure?</button>
                        </div>
                    </form>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<script>
    function showConfirmation(banId) {
        var confirmationButton = document.getElementById('confirmation-button-' + banId);
        var unbanButton = document.getElementById('unban-form-' + banId).querySelector('button[type="button"]');
        confirmationButton.style.display = 'block';
        unbanButton.style.display = 'none';
        setTimeout(function() {
            confirmationButton.style.display = 'none';
            unbanButton.style.display = 'block';
        }, 3000); // Revert after 3 seconds
    }

    function unbanConfirmed(banId) {
        var form = document.getElementById('unban-form-' + banId);
        form.submit();
    }
</script>

@if (b == true)
{
<partial name="Tables/Pagination" for="Pagination"/>
}

