@using Content.Server.Database
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SS14.Admin.Helpers
@model SS14.Admin.Pages.Tables.ConnectionsTableModel

<partial name="Tables/Pagination" for="Pagination"/>

<table class="table table-striped mt-3">
    <thead>
    <tr>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model!.SortState, "name", "User Name"))"/>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "uid", "User ID"))"/>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "time", "Time"))"/>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "addr", "IP Address"))"/>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "hwid", "HWID"))"/>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "denied", "Status"))"/>
        <th>
            Server
        </th>
        <th>
            Trust Score
        </th>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "hits", "Bans Hit"))"/>
    </tr>
    </thead>
    <tbody>
    @foreach (var (log, banHits, player) in Model.Pagination.List.PaginatedItems)
    {
        <tr>
            <td>
                @if (player == null)
                {
                    <strong>@log.UserName</strong>
                }
                else
                {
                    <a asp-page="/Players/Info" asp-route-userId="@player.UserId">
                        <strong>@log.UserName</strong>
                    </a>
                }
                <br/>
            </td>
            <td class="font-monospace">@log.UserId</td>
            <td>@log.Time.ToString("yyyy-MM-dd HH:mm:ss")</td>
            @if (User.IsInRole(Constants.PIIRole))
            {
                <td class="font-monospace constrained-150">@log.Address</td>
                <td class="font-monospace constrained-150">@(log.HWId?.ToImmutable())</td>
            }
            else
            {
                <td class="font-monospace constrained-150">Hidden</td>
                <td class="font-monospace constrained-150">Hidden</td>
            }
            <td>
                @switch (log.Denied)
                {
                    case ConnectionDenyReason.Ban:
                        <strong>Denied: Banned</strong>
                        break;
                    case ConnectionDenyReason.Whitelist:
                        <strong>Denied: Whitelist</strong>
                        break;
                    case ConnectionDenyReason.Full:
                        <strong>Denied: Server Full</strong>
                        break;
                    case ConnectionDenyReason.Panic:
                        <strong>Denied: Panic Bunker</strong>
                        break;
                    case null:
                        <span>Accepted</span>
                        break;
                }
            </td>
            <td>
                @log.Server.Name
            </td>
            <td>@log.Trust</td>
            <td>
                @if (banHits != 0)
                {
                    <!-- In this case, "hit" is the verb. In the bans index, it's a (possibly plural) noun. -->
                    <!-- Yes, this is VERY subtle -->
                    <a asp-page="/Connections/Hits" class="btn btn-secondary" asp-route-connection="@log.Id">@banHits hit</a>
                }
                else
                {
                    <a href="#" class="btn btn-secondary disabled">0 hits</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<partial name="Tables/Pagination" for="Pagination"/>
