@using Content.Server.Database
@model SS14.Admin.Pages.Tables.ConnectionsTableModel

<partial name="Tables/Pagination" for="Pagination"/>

<table class="table table-striped mt-3">
    <thead>
    <tr>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model!.SortState, "name", "User Name"))"/>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "uid", "User ID"))"/>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "time", "Time"))"/>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "addr", "IP Address"))"/>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "hwid", "HWID"))"/>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "denied", "Status"))"/>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "hits", "Bans Hit"))"/>
    </tr>
    </thead>
    <tbody>
    @foreach (var (log, banHits) in Model.Pagination.List.PaginatedItems)
    {
        <tr>
            <td>
                <strong>@log.UserName</strong>
                <br/>
            </td>
            <td class="monotype">@log.UserId</td>
            <td>@log.Time.ToString("g")</td>
            <td class="monotype constrained-150">@log.Address</td>
            <td class="monotype constrained-150">@(log.HWId is { } hwid ? Convert.ToBase64String(hwid) : null)</td>
            <td>
                @switch (log.Denied)
                {
                    case ConnectionDenyReason.Ban:
                        <strong>Denied: Banned</strong>
                        break;
                    case ConnectionDenyReason.Whitelist:
                        <strong>Denied: Whitelist</strong>
                        break;
                    case ConnectionDenyReason.Full:
                        <strong>Denied: Server Full</strong>
                        break;
                    case null:
                        <span>Accepted</span>
                        break;
                }
            </td>
            <td>
                @if (banHits != 0)
                {
                    <!-- In this case, "hit" is the verb. In the bans index, it's a (possibly plural) noun. -->
                    <!-- Yes, this is VERY subtle -->
                    <a asp-page="/Connections/Hits" class="btn btn-secondary" asp-route-connection="@log.Id">@banHits hit</a>
                }
                else
                {
                    <a href="#" class="btn btn-secondary disabled">0 hits</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<partial name="Tables/Pagination" for="Pagination"/>
