@page
@using SS14.Admin.Pages.Tables
@using SS14.Admin.Helpers
@model SS14.Admin.Pages.Players.PlayersIndexModel

@{
    ViewData["Title"] = "Players";
}

<form asp-page="./Index" method="get" class="container">
    @FormHiddenRoutes.Make(Model.AllRouteData, "search")
    <div class="form-group row">
        <label class="col-md-3" for="searchBar">Search name, ID or IP:</label>
        <input type="text" id="searchBar" name="search" value="@Model.CurrentFilter" class="form-control form-control-sm col-md-7"/>
        <input type="submit" value="Search" class="btn btn-primary col-md-1 btn-sm"/>
        <a class="btn btn-danger btn-sm col-md-1" asp-page="./Index">Clear</a>
    </div>
</form>

<partial name="Tables/Pagination" for="Pagination"/>

<table class="table table-striped mt-3">
    <thead>
    <tr>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "name", "Last Name"))"/>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "uid", "User ID"))"/>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "last_seen_time", "Last seen time"))"/>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "last_seen_addr", "Last seen address"))"/>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "last_seen_hwid", "Last seen HWID"))"/>
        <partial name="Tables/SortTabHeader" model="@(new SortTabHeaderModel(Model.SortState, "first_seen", "First seen"))"/>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var player in Model.Pagination.List.PaginatedItems)
    {
        <tr>
            <td>
                <strong>@player.LastSeenUserName</strong>
                <br/>
            </td>
            <td class="monotype small">@player.UserId</td>
            <td>@player.LastSeenTime.ToString("g")</td>
            <td class="monotype constrained-150">@player.LastSeenAddress</td>
            <td class="monotype constrained-150">@BanHelper.FormatHwid(player.LastSeenHWId)</td>
            <td>@player.FirstSeenTime.ToString("g")</td>
            <td>
                <a asp-page="/Players/Info" asp-route-userId="@player.UserId" class="btn btn-secondary">Player Info</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<partial name="Tables/Pagination" for="Pagination"/>
