@page "{userId}"
@using Content.Server.Database
@using SS14.Admin.Helpers
@using SS14.Admin.Pages.Tables
@using System.Diagnostics
@using Content.Shared.Database
@model SS14.Admin.Pages.Players.Info

@{
    ViewData["Title"] = $"Player Info for {Model.Player.LastSeenUserName}";
}

<div class="container">
    <h1>Player information for @Model.Player.LastSeenUserName</h1>

    <dl class="row">
        <dt class="col-sm-2">User ID:</dt>
        <dd class="col-sm-10 font-monospace">@Model.Player.UserId</dd>
        <dt class="col-sm-2">Last seen username:</dt>
        <dd class="col-sm-10">@Model.Player.LastSeenUserName</dd>
        <dt class="col-sm-2">First seen time:</dt>
        <dd class="col-sm-10">@Model.Player.FirstSeenTime.ToString("yyyy-MM-dd HH:mm:ss")</dd>
        <dt class="col-sm-2">Last seen time:</dt>
        <dd class="col-sm-10">@Model.Player.LastSeenTime.ToString("yyyy-MM-dd HH:mm:ss")</dd>
        <dt class="col-sm-2">Last seen address:</dt>
        <dd class="col-sm-10 font-monospace">@Model.Player.LastSeenAddress</dd>
        <dt class="col-sm-2">Last seen HWID:</dt>
        <dd class="col-sm-10 font-monospace">@BanHelper.FormatHwid(Model.Player.LastSeenHWId)</dd>
        <dt class="col-sm-2">Whitelisted:</dt>
        <dd class="col-sm-10 font-monospace">
            @if (Model.Whitelisted)
            {
                <text><strong>✔️ yes</strong> (<a asp-page="../Whitelist/RemoveWhitelist" asp-route-userId="@Model.Player.UserId">remove</a>)</text>
            }
            else
            {
                <text><strong>❌ no</strong> (<a asp-page="../Whitelist/AddWhitelist" asp-route-name="@Model.Player.UserId">add</a>)</text>
            }
        </dd>
    </dl>
</div>

<div class="container">
    <h2>Play time</h2>

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Timer</th>
            <th>Time played (h:mm)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tracker in Model.PlayTimes)
        {
            <tr>
                <td class="font-weight-bold">@tracker.Tracker</td>
                <td>@((int)tracker.TimeSpent.TotalHours):@tracker.TimeSpent.Minutes.ToString("D2")</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="container">
    <h2>Character profiles</h2>

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Gender</th>
            <th>Species</th>
            <th>Favorite job</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var profile in Model.Profiles)
        {
            <tr>
                <td class="font-weight-bold">@profile.CharacterName</td>
                <td>@profile.Age</td>
                <td>@profile.Sex</td>
                <td>@profile.Gender</td>
                <td>@profile.Species</td>
                @{ var favJob = profile.Jobs.SingleOrDefault(e => e.Priority == DbJobPriority.High); }
                <td>@(favJob == null ? "none" : favJob.JobName)</td>
            </tr>
        }
        </tbody>
    </table>
</div>


<div class="container-fluid">
    <h2>Notes</h2>

    <span class="small">Total: @Model.Remarks.Length</span>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th style="min-width: 110px">Type</th>
            <th>Message</th>
            <th>Round</th>
            <th style="min-width: 100px">Severity</th>
            <th>Visible/Seen</th>
            <th>Playtime (h:mm)</th>
            <th style="min-width: 130px">Expires (UTC)</th>
            <th>Created (UTC)</th>
            <th>Edited (UTC)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var remark in Model.Remarks)
        {
            <tr>
                <td>
                    @switch (remark)
                    {
                        case AdminMessage:
                            <span class="text-success"><i class="fas fa-envelope"></i> Message</span>
                            break;
                        case AdminNote:
                            <span class="text-info"><i class="fas fa-clipboard"></i> Note</span>
                            break;
                        case AdminWatchlist:
                            <span class="text-warning"><i class="fas fa-eye"></i> Watchlist</span>

                            break;
                        default:
                            throw new UnreachableException();
                    }
                </td>
                <td>@remark.Message</td>
                <td>@remark.RoundId</td>
                <td>
                    @if (remark is AdminNote note)
                    {
                        switch (note.Severity)
                        {
                            case NoteSeverity.None:
                                <span class="text-secondary"><i class="fas fa-check-circle"></i> None</span>
                                break;
                            case NoteSeverity.Minor:
                                <span class="text-info"><i class="fas fa-minus-circle"></i> Minor</span>
                                break;
                            case NoteSeverity.Medium:
                                <span class="text-warning"><i class="fas fa-exclamation-circle"></i> Medium</span>
                                break;
                            case NoteSeverity.High:
                                <span class="text-danger"><i class="fas fa-exclamation-triangle"></i> High</span>
                                break;
                            default:
                                <text><i class="fas fa-question"></i> Unknown</text>
                                break;
                        }
                    }
                    else
                    {
                        <span class="text-secondary">N/A</span>
                    }
                </td>
                <td>
                    @switch (remark)
                    {
                        case AdminMessage adminMessage:
                            if (adminMessage.Seen)
                            {
                                <span class="text-success"><i class="fas fa-eye"></i> Seen</span>
                            }
                            else
                            {
                                <span class="text-secondary"><i class="fas fa-eye-slash"></i> Not seen</span>
                            }

                            break;
                        case AdminNote adminNote:
                            if (adminNote.Secret)
                            {
                                <span class="text-info"><i class="fas fa-eye-slash"></i> Secret</span>
                            }
                            else
                            {
                                <span class="text-success"><i class="fas fa-eye"></i> Visible</span>
                            }

                            break;
                        case AdminWatchlist:
                            <span class="text-secondary">N/A</span>
                            break;
                        default:
                            throw new UnreachableException();
                    }
                </td>
                <td>@((int)remark.PlaytimeAtNote.TotalHours):@remark.PlaytimeAtNote.Minutes.ToString("D2")</td>
                <td>
                    @if (remark.ExpirationTime is { } expires)
                    {
                        var utc = expires.ToUniversalTime();
                        var diff = utc - DateTime.UtcNow;
                        @expires.ToUniversalTime().ToString("yyyy-MM-dd HH:mm:ss")<br/>
                        <text>(in @diff.Days days @diff.Hours:@diff.Minutes)</text>
                    }
                    else
                    {
                        <text>Permanent</text>
                    }
                </td>
                <td>
                    @remark.CreatedAt.ToUniversalTime().ToString("yyyy-MM-dd HH:mm:ss")<br/>
                    <span class="text-secondary">by @(remark.CreatedBy?.LastSeenUserName ?? "unknown")</span>
                </td>
                <td>
                    @if (remark.LastEditedAt > remark.CreatedAt)
                    {
                        @remark.LastEditedAt.Value.ToUniversalTime().ToString("yyyy-MM-dd HH:mm:ss")<br/>
                        <span class="text-secondary">by @(remark.LastEditedBy?.LastSeenUserName ?? "unknown")</span>
                    }
                    else
                    {
                        <span class="text-secondary">No</span>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="container-fluid">
    <h2>Bans</h2>
    <partial name="Tables/BansTable" model="@(new BansTableModel(Model.GameSortState,Model.GameBanPagination, 0 ,false))"/>
</div>

<div class="container-fluid">
    <h2>Role Bans</h2>
    <partial name="Tables/RoleBansTable" model="@(new RoleBansTableModel(Model.RoleSortState,Model.RoleBanPagination, 0, false))"/>
</div>
